extends templates/layout.pug
block content
    div(class="home-carousel")
        div
            h2(class="h2-white move-top") Bienvenidos al Colegio Los Andes Sacred Valley
            hr(class="move-left")
            p(class="p-white move-top") Propiciando una educación liberadora
    section(class="container apply-box")
        img(src="img/photos/home_apply_1.jpg")
        div(class="box-1")
            div(class="box-1-1")
                h2(class="h2-white") Solicitar Admisión
                p(class="p-white") Somos una escuela pensada para nuestros niños y jovenes ubicada en Urubamba, Valle Sagrado, Peru.
            div(class="box-1-2")
                button(class="button-white") Leer Más
    section(class="container our-school-box")
        div
            h2(class="h2-black") Descubre Nuestra Escuela
            hr
            p(class="p-black") La I.E.P. “Escuela de los Andes” brinda una educación humanista, intercultural, inclusiva y emprendedora. Cuenta con aulas y talleres implementados con recursos tecnológicos y materiales educativos, docentes preparados, que combinados, tics, estrategias metodológicas, prácticas pedagógicas en el marco del buen desempeño. Desempeño docente, con estudiantes participativos, autónomos, creativos y críticos con la conciencia ciudadanía democrática y ambiental.
        img(src="img/photos/home_our_school_1.jpg")
    section(class="container")
        h2(class="h2-black") Nuestra Ubicación
        hr
        div(class="contact-box")
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.882042294901!2d-72.12925064971394!3d-13.295308269952297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916ddd390d1b48f1%3A0x2d7c579b0d85c00a!2sColegio+Los+Andes+School!5e0!3m2!1sen!2spe!4v1544644744581", frameborder="0")
            div(class="box-1")
                div(class="row")
                    img(class="icon" src="img/icons/whatsapp.svg")
                    p(class="p-black") 595595958
                div(class="row")
                    img(class="icon" src="img/icons/email.svg")
                    p(class="p-black") informes@losandes.com