html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        meta(name="description" content="Somos una escuela pensada para nuestros niños y jovenes ... La I.E.P. “Escuela de los Andes” brinda una educación humanista, ...")
        meta(name="keywords" content="colegio,educacion,primaria,secundaria,school")
        title Los Andes School
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/reset.locals.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400|Roboto&display=swap")
        link(rel="stylesheet", href="css/styles.css")
    body
        include nav.pug
        block content
        script(src="js/app.js")
        